<!DOCTYPE html>
<html>
<head>
  <title>IdeasFactory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= link_to "Home", root_path %> |
    <%= link_to "New idea", new_idea_path %> ||
    <% if user_signed_in? %>
      Welcome <%= current_user.first_name %>! |
      <%= link_to "Sign out", session_path(:user_id), {method: :delete, data: {confirm: "Are you sure?"}} %>
    <% else %>
      <%= link_to "Join us", new_user_path %> |
      <%= link_to "Sign in", new_session_path %>
    <% end %>
  </div>
  <div class="container-fluid">
    <%= render "/layouts/flash_messages" %>
  </div>
  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
